body {
    padding: 0px;
    background-color: black;
}
.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotron.jumbotron-fluid {
    margin-bottom: 0px;
}
.carousel.slide {
    width: 30%;
}
h2 {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    border: solid;
    border-color: black;
}
.card {
    margin: 0px;
    padding: 0px;
}
.card-title {
    text-align: center;
}

.card-text, .card-title {
    color: white;
}
.
.table {
    margin-bottom: 0px;
}
