/*APP CONTAINER START*/
html, body {
   height: 100%; 
}
.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
}
.playerHeadings {
    margin-left: 10%;
    font-size: 30px;
}
.form-group, .form-control {
    width: 75%;
    margin-left: 10%
}
#appContainer {
    display: none;
    width: 100%;
    height: 100%;
}
/*LEFT SIDE CONTAINER START*/
#leftSideContainer {
    width: 40%;
    height: 100%;
}
#currentPlayerContainer {
    height: 60%;
}

#currentPlayerImage {
    width: 30%;
    margin: 5%;
}
#currentPlayerStatsList {
    text-align: center;
    list-style-type: none;
}
.currentClassNameStyling {
margin-left: 5%;
    margin-top: 10%;
}
#currentPlayerNameAndClass {
    text-align: center;
    display: flex;
}
#secondaryPlayerOuterContainer {
    display: flex;
    width: 100%;
}
.secondaryClassNameStyling {
    margin-left: 25%;
}
#secondaryPlayerInnerContainer {
    background-color: black;
    height: 30%;
    width: 100%;
    padding: 5%;
    display: flex;
}
.btn.btn-secondary {
    border: solid;
    font-size: .75rem;
}
.btn-group.btn-group-toggle {
    width: 20%;
    font-size: 12px;
    display: flex;
    flex-direction: column;

}
#player1Radio {
    opacity: 30%;
}
/*LEFT SIDE CONTAINER END*/
/*MIDDLE CONTAINER START*/

#middleContainer {
    width: 30%;
    height: 100%;
    text-align: center;
}
.card {
    margin: 10%;
}
.LV0Card {
    border: solid;
}
.LV1Card {
    border: solid 10px;
    opacity: 20%;
}
.LV2Card {
    border: solid 10px;
    opacity: 20%;

}
.LV3Card {
    border: solid 10px;
    opacity: 20%;

}
.card-body.LV0CardBody {
}
/*MIDDLE CONTAINER END*/
/*RIGHT SIDE CONTAINER START*/

#rightSideContainer {
    width: 25%;
    text-align: center;
    height: 100%;
}
#turnCounter {
    border: solid;
    height: 10%;
    padding: 5%;
    margin-bottom: 3%;
}
#currencyAndPropertyInputs{
    border: solid;
    display: flex;
    height: 60%;
    margin-bottom: 5%;
}
#statsInputs {
    width: 100%;
}
#nextTurnButton {
    height: 20%;
    margin-bottom: 5%;
}
/*RIGHT SIDE CONTAINER END*/
/*APP CONTAINER END*/

