.playerInfoHeading {
    text-align: center;
}
.form-group {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;

}
.btn.btn-success {
    margin-left: 5%;
    margin-top: 3%;
}
#numberOfPlayersContainer {
    margin-top: 20%;
}
#numberOfTurnsContainer {
    display: none;
    margin-top: 20%;
}
#player1Container {
    display: none;
    margin-top: 20%;
}
#player2Container {
    display: none;
    margin-top: 20%;
}
#player3Container {
    display: none;
    margin-top: 20%;
}
#player4Container {
    display: none;
    margin-top: 20%;
}
#player5Container {
    display: none;
    margin-top: 20%;
}
#player6Container {
    display: none;
    margin-top: 20%;
}
#gameStartContainer {
    display: none;
    margin-top: 20%;
}
.gameStartButton {
    margin-left: 37%;
    margin-top: 3%;
    width: 25%;
}
#gameAppContainer {
    display: none;
}
#player1Button, #player2Button, #player3Button, #player4Button, #player5Button, #player6Button {
    margin: 1%;
}
.jumbotron.jumbotron-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
#playerSelectButtonsContainer {
    width: 100%;
    text-align: center;
}
#nextTurnButton {
    margin-left: 1%;
    width: 20%;
}
#masterInfoContainer {
    display: flex;
}
#leftSideContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
}
#selectedPlayerNameAndClass {
    text-align: center;
    margin-top: 1%;
}
#selectedPlayerImage {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
    border-radius: 3%;
}
#selectedPlayerStatsList, .selectedPlayerStatsButtons {
    width: 100%;
    margin-top: 1%;
}
#selectedPlayerStatsList {
    padding-left: 0px;
    width: 60%;
}
.selectedPlayerStatsButtons {
    width: 40%;
}
.selectedPlayerStatsButtons {
    margin-right: 1%;
}
.selectedPlayerStatsButtons {
    padding-left: 0px;
}
.selectedPlayerStatsListItem, .selectedPlayerStatsButton {
    height: 11%;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
}
.selectedPlayerStatsListItem {
    font-size: 23px;
    border-right: none;
    padding-left: 10px;
    border-top: solid;
}
#selectedPlayerSalary, #salaryButtons {
    border-top: none;
}
.selectedPlayerStatsButton  {
    border-left: none;
    border-top: solid;
}
.btn.btn-success.add {
    margin: 0%;
    width: 150px;
}
.btn.btn-danger.subtract {
    margin-left: 3%;
    width: 150px;
}
#subtractTurnButton, #addTurnButton {
    margin-left: 1%;
}

#rightSideContainer {
    display: flex;
    width: 60%;
    height: 500px;
}
#selectedPlayerMasterPerksContainer {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    text-align: center;
}
.selectedPlayerPerksContainer {
    margin-top: 1%;
}
#endingsContainer {
    display: none;
}
#endingLowerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#descriptionContainer {
    display: flex;
}
#endingDescription {
    width: 100%;
}