body {
    padding: 0px;
}
p {
    margin: 0%;
}
.backgroundBody{
    background-color: black;
}
.nav-item {
    padding-left: 10px;
    padding-right: 30px;
}
.jumbotron.jumbotron-fluid {
    margin-bottom: 0px;
    padding: 0px;
}
.carousel.slide {
    width: 30%;
}
h2 {
    background-color: black;
    color: white;
    text-align: center;
    border: solid;
    border-color: black;
}
h3 {
    margin: 2%;
}
.pokerRules {
    margin: 1%;
}
.card {
    margin: 0px;
    padding: 0px;
}
.card-title, .salaryTreeTitle {
    text-align: center;
}

.card-text, .card-title, .salaryTreeTitle {
    color: white;
}
.card-group {
    border: solid;
    border-color: 
}
.card-body {
    margin: 0px;
    padding: 20px;
}
.propRefGuideTitle{
    margin-bottom: 0px;
}
.table {
    margin-bottom: 0px;
}
.classCard {
    margin-bottom: 0px;
}
.playerInfoContainer {
    padding-left: 10%;
    padding-right: 10%;
}
