* {
    font-family: 'Merriweather', serif;
}

.navbar-brand {
    margin-left: 10%;
}
.Name {
    color: white;   
}
.Title {
    color: darkgray;
    font-style: oblique;
}
.profile {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.proPic1 {
    width: 40%;
    border: solid;
    border-color: black;
    margin: 1%;
}
.proPic2 {
    width: 40%;
    border: solid;
    border-color: black;
    margin: 1%;
}
.proPic3 {
    width: 35%;
    border: solid;
    border-color: black;
    margin: 1%;
}
.textbox {
    width: auto;
    margin: 0px;
    background-color: deepskyblue;
    color: black;   
    line-height: 150%;
    padding: 2%;
    text-align: center;
}
.textbox::first-letter {
        font-size: 300%;
}
.techIconBar {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.techIcon {
    display: inline;     
    margin: 0px;
    width: 10%;
}
.jumbotron {
    margin: 0px;
    color: white;
}
card-title {
    font-weight: bold;
}
.contact {
    font-size: 75%;
}
@media (min-width: 200px) {
    .techIcon {
        width: 9.75%;
    }
    .Name {
        font-size: 130%;
    }
    .Title {
        font-size: 75%;
    }
    .textbox {
        font-size: 50%;
    }
}
@media (min-width: 400px) {
    .techIcon {
        width: 10%;
    }
    .Name {
        font-size: 170%;
    }
    .Title {
        font-size: 100%;
    }
    .textbox {
        font-size: 60%;
    }
}
@media (min-width: 600px) {
    .techIcon {
        width: 10.3%;
    }
    .Name {
        font-size: 250%;
    }
    .Title {
        font-size: 125%;
    }
    .textbox {
        font-size: 75%;
    }
}
@media (min-width: 800px) {
    .techIcon {
        width: 10.6%;
    }

    .Name {
        font-size: 350%;
    }

    .Title {
        font-size: 150%;
    }
    .textbox {
        font-size: 100%;
    }

}
@media (min-width: 1000px) {
    .techIcon {
        width: 10.6%;
    }

    .Name {
        font-size: 430%;
    }

    .Title {
        font-size: 200%;
    }
    .textbox {
        font-size: 150%;
    }

}


@media (min-width: 1200px) {
    .techIcon {
        width: 10.6%;
    }

    .Name {
        font-size: 430%;
    }

    .Title {
        font-size: 200%;
    }

    .textbox {
        font-size: 200%;
    }
}
@media (min-width: 1400px) {
    .techIcon {
        width: 10.6%;
    }

    .Name {
        font-size: 430%;
    }

    .Title {
        font-size: 200%;
    }

    .textbox {
        font-size: 250%;
    }
}
@media (min-width: 1600px) {
    .techIcon {
        width: 10.6%;
    }

    .Name {
        font-size: 430%;
    }

    .Title {
        font-size: 200%;
    }

    .textbox {
        font-size: 300%;
    }
}

        /*
font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Amatic SC', cursive;